@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

blockquote.headstone{
	font-variant: all-small-caps;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
	font-variant: small-caps;
}

footer i{
	font-variant: normal;
}

#chapter-1-1 blockquote{
	font-style: italic;
}
