@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote.headstone{
	font-variant: all-small-caps;
	text-align: center;
}

#chapter-1-10 footer p{
	margin-top: 1em;
	text-align: right;
	font-variant: small-caps;
}

#chapter-1-10 footer span{
	font-variant: normal;
}
